RewriteEngine On

# Redirect to language folder if root is accessed
RewriteRule ^$ /en/index.html [L]

# Allow direct access to files in css, js, img folders
RewriteCond %{REQUEST_URI} !^/(css|js|img)/

# Redirect all other requests to appropriate language folder
RewriteCond %{REQUEST_URI} ^/(en|fr)/
RewriteRule ^(en|fr)/(.*)$ /$1/$2 [L]

# Error handling
ErrorDocument 404 /en/404.html